alembic==1.4.0
app==0.0.1
asgiref==3.2.3
astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
decouple==0.0.7
dj-database-url==0.5.0
Django==3.0.3
django-crispy-forms==1.8.1
django-formtools==2.2
django-heroku==0.3.1
django-rest-framework==0.1.0
djangorestframework==3.11.0
Flask==1.1.1
flask-marshmallow==0.9.0
Flask-Migrate==2.3.0
Flask-SQLAlchemy==2.1
gunicorn==20.0.4
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
login==0.0.6
Mako==1.1.1
MarkupSafe==1.1.1
marshmallow==2.13.6
mccabe==0.6.1
MyApplication==0.1.0
order==1.2.0
parts==0.0.4.0
Pillow==6.2.1
pipenv==2018.11.26
pop==7.6
psycopg2==2.8.4
pylint==2.4.4
python-barcode==0.10.0
python-dateutil==2.8.1
python-decouple==3.3
python-editor==1.0.4
pytz==2019.3
requests==2.22.0
scinum==1.0.2
simplejson==3.17.0
six==1.13.0
SQLAlchemy==1.2.13
sqlparse==0.3.0
treepoem==3.3.0
urllib3==1.25.7
virtualenv==16.7.8
virtualenv-clone==0.5.3
Werkzeug==0.16.1
whitenoise==5.0.1
wrapt==1.11.2
